In [1]:
import pandas as pd
#import numpy as np 

autoDataFile = "Automobile_data.csv"
df = None
try:
    df = pd.read_csv(autoDataFile)
except:
    print("Cant read {} file".format(autoDataFile))
    
df.dtypes
df = df[df.columns].replace('[\?]', 0, regex=True)
#Error Correction
df = df[df.columns].replace('romero', 'romeo', regex=True)

#df.to_csv("Automobile.csv")
df['bore'] = df['bore'].astype(float)
df['stroke'] = df['stroke'].astype(float)
df['horsepower'] = df['horsepower'].astype(int)
df['peak-rpm'] = df['peak-rpm'].astype(int)
df['price'] = df['price'].astype(float)

In [15]:
columns = df.columns.values
columnsName = []
for each in columns:
    x = each.replace('-', '')
    columnsName.append(x)
    
df.columns = columnsName

#for backward compatible code that relies on CSV
df.to_csv("cleanedAutomobile.csv", index=False)
automobileDF = df

In [27]:
%run WebScraping.ipynb

Stored 'WebScrapingData' (list)

In [28]:
%store -r  WebScrapingData
WebScrapingData

[['Brand', 'Month', 'Change', 'YTD', 'YTD Change', 'Month Share', 'YTD Share'],
 {'Acura': ['16,774', '11.37', '158,934', '2.80', '1.04', '0.92'],
  'Alfa Romeo': ['1,946', '-4.33', '23,800', '97.82', '0.12', '0.14'],
  'Audi': ['22,765', '-14.47', '223,068', '-0.09', '1.42', '1.29'],
  'BMW': ['34,357', '0.30', '311,014', '1.74', '2.14', '1.80'],
  'Buick': ['17,305', '-22.35', '207,223', '-5.48', '1.08', '1.20'],
  'Cadillac': ['14,001', '1.95', '153,863', '8.55', '0.87', '0.89'],
  'Chevrolet': ['179,212', '-13.34', '2,017,205', '-2.36', '11.16', '11.70'],
  'Chrysler': ['12,425', '-27.80', '165,964', '-11.98', '0.77', '0.96'],
  'Dodge': ['32,528', '16.65', '459,324', '2.76', '2.03', '2.66'],
  'Fiat': ['977', '-43.79', '15,521', '-41.41', '0.06', '0.09'],
  'Ford': ['208,106', '-9.63', '2,386,588', '-3.14', '12.96', '13.84'],
  'Genesis': ['614', '-68.48', '9,940', '-51.78', '0.04', '0.06'],
  'GMC': ['54,203', '-15.50', '556,451', '-0.61', '3.38', '3.23'],
  'Honda': ['138,341', '3.04', '1,445,627', '-2.63', '8.61', '8.39'],
  'Hyundai': ['65,107', '5.61', '679,127', '2.13', '4.05', '3.94'],
  'Infiniti': ['18,065', '10.29', '149,280', '-2.70', '1.12', '0.87'],
  'Jaguar': ['3,462', '1.41', '30,254', '-24.15', '0.22', '0.18'],
  'Jeep': ['80,449', '9.90', '973,227', '17.47', '5.01', '5.65'],
  'Kia': ['47,428', '10.20', '589,673', '0.00', '2.95', '3.42'],
  'Land Rover': ['10,617', '33.05', '92,143', '23.97', '0.66', '0.53'],
  'Lexus': ['35,524', '0.18', '298,302', '-2.00', '2.21', '1.73'],
  'Lincoln': ['11,526', '8.54', '103,587', '-6.81', '0.72', '0.60'],
  'Mazda': ['25,870', '-3.80', '300,325', '3.75', '1.61', '1.74'],
  'Mercedes-Benz': ['36,132', '-7.94', '349,084', '-6.22', '2.25', '2.02'],
  'Mini': ['2,797', '-39.34', '43,684', '-7.26', '0.17', '0.25'],
  'Mitsubishi': ['8,986', '5.71', '118,074', '13.88', '0.56', '0.68'],
  'Nissan': ['130,655', '7.23', '1,344,597', '-6.63', '8.14', '7.80'],
  'Porsche': ['4,086', '-3.04', '59,116', '-2.30', '0.25', '0.34'],
  'Ram': ['68,195', '36.73', '597,368', '7.29', '4.25', '3.46'],
  'Smart': ['122', '-26.51', '1,276', '-58.45', '0.01', '0.01'],
  'Subaru': ['64,541', '1.89', '680,135', '4.97', '4.02', '3.95'],
  'Tesla': ['32,600', '497.07', '197,517', '294.51', '2.03', '1.15'],
  'Toyota': ['185,384', '-1.14', '2,224,156', '4.46', '11.54', '12.90']}]

In [25]:
TableColNames, Data = WebScrapingData
df = pd.DataFrame(data=Data)
df = df.T
df.reset_index(inplace=True)
df.columns = tableColNames
df[df.columns].replace('[\,]', '', regex=True)
df['Brand'] = df['Brand'].str.lower()
brandRankingDF = df

In [26]:
Data = {} 
Data['Automobile'] = automobileDF
Data['BrandRanking'] = brandRankingDF
pandaTransformData = Data
pandaTransformData

{'Automobile':             Brand    Month  Change        YTD YTD Change Month Share YTD Share
 0           acura   16,774   11.37    158,934       2.80        1.04      0.92
 1      alfa romeo    1,946   -4.33     23,800      97.82        0.12      0.14
 2            audi   22,765  -14.47    223,068      -0.09        1.42      1.29
 3             bmw   34,357    0.30    311,014       1.74        2.14      1.80
 4           buick   17,305  -22.35    207,223      -5.48        1.08      1.20
 5        cadillac   14,001    1.95    153,863       8.55        0.87      0.89
 6       chevrolet  179,212  -13.34  2,017,205      -2.36       11.16     11.70
 7        chrysler   12,425  -27.80    165,964     -11.98        0.77      0.96
 8           dodge   32,528   16.65    459,324       2.76        2.03      2.66
 9            fiat      977  -43.79     15,521     -41.41        0.06      0.09
 10           ford  208,106   -9.63  2,386,588      -3.14       12.96     13.84
 11        genesis      614  -68.48      9,940     -51.78        0.04      0.06
 12            gmc   54,203  -15.50    556,451      -0.61        3.38      3.23
 13          honda  138,341    3.04  1,445,627      -2.63        8.61      8.39
 14        hyundai   65,107    5.61    679,127       2.13        4.05      3.94
 15       infiniti   18,065   10.29    149,280      -2.70        1.12      0.87
 16         jaguar    3,462    1.41     30,254     -24.15        0.22      0.18
 17           jeep   80,449    9.90    973,227      17.47        5.01      5.65
 18            kia   47,428   10.20    589,673       0.00        2.95      3.42
 19     land rover   10,617   33.05     92,143      23.97        0.66      0.53
 20          lexus   35,524    0.18    298,302      -2.00        2.21      1.73
 21        lincoln   11,526    8.54    103,587      -6.81        0.72      0.60
 22          mazda   25,870   -3.80    300,325       3.75        1.61      1.74
 23  mercedes-benz   36,132   -7.94    349,084      -6.22        2.25      2.02
 24           mini    2,797  -39.34     43,684      -7.26        0.17      0.25
 25     mitsubishi    8,986    5.71    118,074      13.88        0.56      0.68
 26         nissan  130,655    7.23  1,344,597      -6.63        8.14      7.80
 27        porsche    4,086   -3.04     59,116      -2.30        0.25      0.34
 28            ram   68,195   36.73    597,368       7.29        4.25      3.46
 29          smart      122  -26.51      1,276     -58.45        0.01      0.01
 30         subaru   64,541    1.89    680,135       4.97        4.02      3.95
 31          tesla   32,600  497.07    197,517     294.51        2.03      1.15
 32         toyota  185,384   -1.14  2,224,156       4.46       11.54     12.90,
 'BrandRanking':             Brand    Month  Change        YTD YTD Change Month Share YTD Share
 0           acura   16,774   11.37    158,934       2.80        1.04      0.92
 1      alfa romeo    1,946   -4.33     23,800      97.82        0.12      0.14
 2            audi   22,765  -14.47    223,068      -0.09        1.42      1.29
 3             bmw   34,357    0.30    311,014       1.74        2.14      1.80
 4           buick   17,305  -22.35    207,223      -5.48        1.08      1.20
 5        cadillac   14,001    1.95    153,863       8.55        0.87      0.89
 6       chevrolet  179,212  -13.34  2,017,205      -2.36       11.16     11.70
 7        chrysler   12,425  -27.80    165,964     -11.98        0.77      0.96
 8           dodge   32,528   16.65    459,324       2.76        2.03      2.66
 9            fiat      977  -43.79     15,521     -41.41        0.06      0.09
 10           ford  208,106   -9.63  2,386,588      -3.14       12.96     13.84
 11        genesis      614  -68.48      9,940     -51.78        0.04      0.06
 12            gmc   54,203  -15.50    556,451      -0.61        3.38      3.23
 13          honda  138,341    3.04  1,445,627      -2.63        8.61      8.39
 14        hyundai   65,107    5.61    679,127       2.13        4.05      3.94
 15       infiniti   18,065   10.29    149,280      -2.70        1.12      0.87
 16         jaguar    3,462    1.41     30,254     -24.15        0.22      0.18
 17           jeep   80,449    9.90    973,227      17.47        5.01      5.65
 18            kia   47,428   10.20    589,673       0.00        2.95      3.42
 19     land rover   10,617   33.05     92,143      23.97        0.66      0.53
 20          lexus   35,524    0.18    298,302      -2.00        2.21      1.73
 21        lincoln   11,526    8.54    103,587      -6.81        0.72      0.60
 22          mazda   25,870   -3.80    300,325       3.75        1.61      1.74
 23  mercedes-benz   36,132   -7.94    349,084      -6.22        2.25      2.02
 24           mini    2,797  -39.34     43,684      -7.26        0.17      0.25
 25     mitsubishi    8,986    5.71    118,074      13.88        0.56      0.68
 26         nissan  130,655    7.23  1,344,597      -6.63        8.14      7.80
 27        porsche    4,086   -3.04     59,116      -2.30        0.25      0.34
 28            ram   68,195   36.73    597,368       7.29        4.25      3.46
 29          smart      122  -26.51      1,276     -58.45        0.01      0.01
 30         subaru   64,541    1.89    680,135       4.97        4.02      3.95
 31          tesla   32,600  497.07    197,517     294.51        2.03      1.15
 32         toyota  185,384   -1.14  2,224,156       4.46       11.54     12.90}

In [ ]:
%store pandaTransformData