In [95]:
import pandas as pd
from sqlalchemy import create_engine
from mysql.connector import Error

In [96]:
import Project2Keys as Keys
#print(Keys.userName, Keys.userPass)

In [97]:
#DB Connection 

DB_NAME = 'ProjectX'
userName = Keys.userName
userPass = Keys.userPass
DBport = '3306'

#!pip install pymysql
# use pymysql as connector

connectionString = "mysql+pymysql://{}:{}@localhost:{}/".format(userName, userPass, DBport)

connectionDB = None

try:
    connection = create_engine(connectionString)
    connectionDB = connection.connect()
    connectionDB.execute("commit")
    record = connection.execute("CREATE DATABASE IF NOT EXISTS {};".format(DB_NAME))
    print("Connected to MySQL and created DB {} \n{}".format(DB_NAME, connectionDB))
    
except Error as e :
    print ("Error while connecting to MySQL", e)

Connected to MySQL and created DB ProjectX
<sqlalchemy.engine.base.Connection object at 0x0000000009E7A588>

In [98]:
#Table layout

TABLES = {}

tableSyntax = "CREATE TABLE IF NOT EXISTS"

TABLES['BrandRanking'] = (
    "{} `BrandRanking` ("
    " `id` int(6) NOT NULL AUTO_INCREMENT,"
    " `Brand` varchar(15) NOT NULL,"
    " `Month` int(10) NOT NULL,"
    " `Change` FLOAT NOT NULL,"
    " `YTD` int(12) NOT NULL,"
    " `YTDChange` FLOAT NOT NULL,"
    " `Month Share` FLOAT NOT NULL,"
    " `YTD Share` FLOAT NOT NULL,"
    "  PRIMARY KEY (`id`)"
    ") ENGINE=InnoDB".format(tableSyntax) )

#TABLES = {}

In [99]:
TABLES['Automobile'] = (
    "{} `Automobile` ("
    " `id` int(6) NOT NULL AUTO_INCREMENT,"
    " `make` varchar(15) NOT NULL,"
    " `fuel-type` varchar(10) NOT NULL,"
    " `aspiration` varchar(6) NOT NULL,"
    " `num-of-doors` varchar(6) NOT NULL,"
    " `body-style` varchar(10) NOT NULL,"
    " `drive-wheels` varchar(10) NOT NULL,"
    " `engine-location` varchar (10) NOT NULL,"
    " `wheel-base` FLOAT(15) NOT NULL,"
    " `length` FLOAT(10) NOT NULL,"
    " `width` FLOAT (10) NOT NULL,"
    " `height` FLOAT(12) NOT NULL,"
    " `curb-weight` FLOAT NOT NULL,"
    " `engine-type` varchar(6) NOT NULL,"
    " `num-of-cylinders` varchar(7) NOT NULL,"
    " `engine-size` int(10) NOT NULL,"
    " `fuel-system` varchar(6) NOT NULL,"
    " `bore` FLOAT(12) NOT NULL,"
    " `stroke` FLOAT NOT NULL,"
    " `compression-ratio` FLOAT NOT NULL,"
    " `horsepower` int(10) NOT NULL,"
    " `peak-rpm` int(10) NOT NULL,"
    " `city-mpg` int(10) NOT NULL,"
    " `highway-mpg` int(10) NOT NULL,"
    " `price` FLOAT(12) NOT NULL,"
    "  PRIMARY KEY (`id`)"
    ") ENGINE=InnoDB".format(tableSyntax) )

In [100]:
#legacy tables 
'''
TABLES['CarSales'] = (
    "{} `CarSales` ("
    " `id` int(6) NOT NULL AUTO_INCREMENT,"
    " `Brand` varchar(10) NOT NULL,"
    " `Model` varchar(10) NOT NULL,"
    " `VehicleType` varchar(15) NOT NULL,"
    " `SaleVolume` int(10) NOT NULL,"
    " `Date` varchar(10) NOT NULL,"
    "  PRIMARY KEY (`id`)"
    ") ENGINE=InnoDB".format(tableSyntax) )

TABLES['TotalSales'] = (
    "{} `TotalSales` ("
    "  `id` int(6) NOT NULL AUTO_INCREMENT,"
    "  `Date`  DATE NOT NULL,"
    "  `Volume` INT(10) NOT NULL,"
    "  PRIMARY KEY (`id`)"
    ") ENGINE=InnoDB".format(tableSyntax) )
'''

'\nTABLES[\'CarSales\'] = (\n    "{} `CarSales` ("\n    " `id` int(6) NOT NULL AUTO_INCREMENT,"\n    " `Brand` varchar(10) NOT NULL,"\n    " `Model` varchar(10) NOT NULL,"\n    " `VehicleType` varchar(15) NOT NULL,"\n    " `SaleVolume` int(10) NOT NULL,"\n    " `Date` varchar(10) NOT NULL,"\n    "  PRIMARY KEY (`id`)"\n    ") ENGINE=InnoDB".format(tableSyntax) )\n\nTABLES[\'TotalSales\'] = (\n    "{} `TotalSales` ("\n    "  `id` int(6) NOT NULL AUTO_INCREMENT,"\n    "  `Date`  DATE NOT NULL,"\n    "  `Volume` INT(10) NOT NULL,"\n    "  PRIMARY KEY (`id`)"\n    ") ENGINE=InnoDB".format(tableSyntax) )\n'

In [101]:
# create the tables in mySQL

try:
    connectionDB.execute('Use {};'.format(DB_NAME))
    for eachTable in TABLES.keys():
        table_description = TABLES[eachTable]
        #print(eachTable, table_description)
        try:
            print("Creating table {}: ".format(table_description), end='')
            connectionDB.execute(table_description)
        except Error as err:
            print("Failed creating table: {}".format(err))
except:
    print('Cannot create {} table'.format(eachTable))
    print("Connection is not working")
        
#connectionDB.close()
#close the connection when done

Creating table CREATE TABLE IF NOT EXISTS `BrandRanking` ( `id` int(6) NOT NULL AUTO_INCREMENT, `Brand` varchar(15) NOT NULL, `Month` int(10) NOT NULL, `Change` FLOAT NOT NULL, `YTD` int(12) NOT NULL, `YTDChange` FLOAT NOT NULL, `Month Share` FLOAT NOT NULL, `YTD Share` FLOAT NOT NULL,  PRIMARY KEY (`id`)) ENGINE=InnoDB: Creating table CREATE TABLE IF NOT EXISTS `Automobile` ( `id` int(6) NOT NULL AUTO_INCREMENT, `make` varchar(15) NOT NULL, `fuel-type` varchar(10) NOT NULL, `aspiration` varchar(6) NOT NULL, `num-of-doors` varchar(6) NOT NULL, `body-style` varchar(10) NOT NULL, `drive-wheels` varchar(10) NOT NULL, `engine-location` varchar (10) NOT NULL, `wheel-base` FLOAT(15) NOT NULL, `length` FLOAT(10) NOT NULL, `width` FLOAT (10) NOT NULL, `height` FLOAT(12) NOT NULL, `curb-weight` FLOAT NOT NULL, `engine-type` varchar(6) NOT NULL, `num-of-cylinders` varchar(7) NOT NULL, `engine-size` int(10) NOT NULL, `fuel-system` varchar(6) NOT NULL, `bore` FLOAT(12) NOT NULL, `stroke` FLOAT NOT NULL, `compression-ratio` FLOAT NOT NULL, `horsepower` int(10) NOT NULL, `peak-rpm` int(10) NOT NULL, `city-mpg` int(10) NOT NULL, `highway-mpg` int(10) NOT NULL, `price` FLOAT(12) NOT NULL,  PRIMARY KEY (`id`)) ENGINE=InnoDB:

In [73]:
'''df = pd.read_csv('cleanedAutomobile.csv')
df1 = pd.read_csv('BrandRanking.csv')
df.dtypes
df'''

"df = pd.read_csv('cleanedAutomobile.csv')\ndf1 = pd.read_csv('BrandRanking.csv')\ndf.dtypes\ndf"

In [102]:
%run PandaTransformData.ipynb

Stored 'WebScrapingData' (list)
Stored 'pandaTransformData' (dict)

In [103]:
%store -r pandaTransformData
#pandaTransformData.keys()

In [104]:
connectionDBString = connectionString+DB_NAME
connectionDB = create_engine(connectionDBString)

for eachTable in pandaTransformData.keys():
    #print(eachTable.lower(), pandaTransformData[eachTable])
    pandaTransformData[eachTable].to_sql(con=connectionDB, name=eachTable.lower(), if_exists='replace')