In [5]:
from splinter import Browser
from bs4 import BeautifulSoup

# Mac Users

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
#!which chromedriver

In [1]:
#executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
#browser = Browser('chrome', **executable_path, headless=False)

# Windows Users

In [11]:
 executable_path = {'executable_path': 'chromedriver.exe'}
 browser = Browser('chrome', **executable_path, headless=False)

In [12]:
url = 'http://www.goodcarbadcar.net/2019/01/u-s-auto-sales-brand-rankings-december-2018-ytd/'
browser.visit(url)

In [13]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [14]:
results = soup.find_all('table', id='table_1')
rows = results[0].find_all('th')

tableColNames  = []

for row in rows:
    tableColNames.append(row.text)
  
tableColNames

['Brand', 'Month', 'Change', 'YTD', 'YTD Change', 'Month Share', 'YTD Share']

In [15]:
Data = {}
for i in range(33):
    rows = results[0].find_all('tr', id='table_2293_row_{}'.format(i)) # different class class str
    text = [rows[0].text] # put it into string
    #print(rows)
    #<class 'list'> ['', 'Acura', '16,774', '15,062', '11.37', '158,934', '154,602', '2.80', '1.04', '0.92', '']
    # excluse 1st and last element [1:-1]
    text = text[0].split('\n')[1:-1] # split up the string to reduce complexity
    #{'Acura' : [] '16,774', '15,062', '11.37', '158,934', '154,602', '2.80', '1.04', '0.92', '']}
    Data[text[0]] = text[1:]
#Data

In [16]:
import pandas as pd
df = pd.DataFrame(data=Data)
df = df.T
df.reset_index(inplace=True)
df.columns = tableColNames
df

            Brand    Month  Change        YTD YTD Change Month Share YTD Share
0           Acura   16,774   11.37    158,934       2.80        1.04      0.92
1      Alfa Romeo    1,946   -4.33     23,800      97.82        0.12      0.14
2            Audi   22,765  -14.47    223,068      -0.09        1.42      1.29
3             BMW   34,357    0.30    311,014       1.74        2.14      1.80
4           Buick   17,305  -22.35    207,223      -5.48        1.08      1.20
5        Cadillac   14,001    1.95    153,863       8.55        0.87      0.89
6       Chevrolet  179,212  -13.34  2,017,205      -2.36       11.16     11.70
7        Chrysler   12,425  -27.80    165,964     -11.98        0.77      0.96
8           Dodge   32,528   16.65    459,324       2.76        2.03      2.66
9            Fiat      977  -43.79     15,521     -41.41        0.06      0.09
10           Ford  208,106   -9.63  2,386,588      -3.14       12.96     13.84
11        Genesis      614  -68.48      9,940     -51.78        0.04      0.06
12            GMC   54,203  -15.50    556,451      -0.61        3.38      3.23
13          Honda  138,341    3.04  1,445,627      -2.63        8.61      8.39
14        Hyundai   65,107    5.61    679,127       2.13        4.05      3.94
15       Infiniti   18,065   10.29    149,280      -2.70        1.12      0.87
16         Jaguar    3,462    1.41     30,254     -24.15        0.22      0.18
17           Jeep   80,449    9.90    973,227      17.47        5.01      5.65
18            Kia   47,428   10.20    589,673       0.00        2.95      3.42
19     Land Rover   10,617   33.05     92,143      23.97        0.66      0.53
20          Lexus   35,524    0.18    298,302      -2.00        2.21      1.73
21        Lincoln   11,526    8.54    103,587      -6.81        0.72      0.60
22          Mazda   25,870   -3.80    300,325       3.75        1.61      1.74
23  Mercedes-Benz   36,132   -7.94    349,084      -6.22        2.25      2.02
24           Mini    2,797  -39.34     43,684      -7.26        0.17      0.25
25     Mitsubishi    8,986    5.71    118,074      13.88        0.56      0.68
26         Nissan  130,655    7.23  1,344,597      -6.63        8.14      7.80
27        Porsche    4,086   -3.04     59,116      -2.30        0.25      0.34
28            Ram   68,195   36.73    597,368       7.29        4.25      3.46
29          Smart      122  -26.51      1,276     -58.45        0.01      0.01
30         Subaru   64,541    1.89    680,135       4.97        4.02      3.95
31          Tesla   32,600  497.07    197,517     294.51        2.03      1.15
32         Toyota  185,384   -1.14  2,224,156       4.46       11.54     12.90